<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266895234393-91b1ka97am7akkrnokcnujv4j2tp8pq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266895234393-91b1ka97am7akkrnokcnujv4j2tp8pq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBRJNPfUFVzX11c7henwhxn2A0C0uwMCl0</string>
	<key>GCM_SENDER_ID</key>
	<string>266895234393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.destiny.mydesapp</string>
	<key>PROJECT_ID</key>
	<string>mydesapp-9f2d2</string>
	<key>STORAGE_BUCKET</key>
	<string>mydesapp-9f2d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266895234393:ios:c82cbb30ce87715ed4a848</string>
</dict>
</plist>